@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1f2937;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #f5f5f4;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}