@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #05070a;
    --foreground: #ffffff;
}

@layer base {
    body {
        @apply bg-background text-foreground;
    }
}